@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.team-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
   height: 350px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.team-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
   transform-style: preserve-3d;
   
}

.team-card:hover .team-card-content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.team-name
 {
  position: absolute;
  height: 100%;
  width: 100%;
  background:url(../athena.jpeg) no-repeat center;
  background-size: cover;
  
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  font-size: 30px;
}

.team-members {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
   position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
  padding: 10px;
}

.team-members ul{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.team-members ul h2{
   font-size: 35px;
}

.team-members ul p{
  font-size: 25px;
}

